<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" resourceType="File" preCondition="bitness64" />
    </handlers>

    <iisnode nodeProcessCommandLine="%programfiles%\nodejs\node.exe" />

    <defaultDocument>
      <files>
        <add value="app.js" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="all">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- exclude node_modules directory and subdirectories from serving
         by IIS since these are implementation details of node.js applications -->

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
