extends layout

block content
    h1= title
    p a short url
    p usage:
    p
      strong to set a url
    p
      strong http://qsoc.org/s?url=http://sample.com&t=sample&auth=580ccaafce65146998ab1d6f
    p  where url= the url you want to redirect to
    p   auth= authorization id
    p   [optional] t= friendly token you want to use
    p                 if not token is provided, we auto gen a 5 char token

    p  it returns a simple json with the redirection url, the token, and the internal id (save it for maintenanance later) and an error
    p     if there is an error no url is provided
    p     sample result: {"url":"http://qsoc.org/g/sample","token":"sample","id":"580cc8ac7b8147a82adfa01a","error":""} 

    p
      strong To redirect the url
    p
      italic   http://qsoc.org/g/sample
    p
      strong To list urls
    p      http://qsoc.org/list

    p
      strong to enter url via a form
    p     http://qsoc.org/new

    
